<!DOCTYPE html>
<html>
<head>
	    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="appicon.png" />
    <title>Watch The Cubes</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
    <link rel=“stylesheet” href=“css/framework7-TwitterDarkMode.css”>
    <link rel="stylesheet" href="https://rawgit.com/S0n1cDev/TDM/master/Framework7-TwitterDarkMode.css">
   
	 <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/joystick_view.js"></script>
	
<style>
body {
	background-color: lightblue;
}

h1 {
	color: darkred;
	text-align: left;
}

p {
	color: brown;
	text-align: left;
	font-family: verdana;
	font-size: 10px;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
	border:2px solid black;
	background-color: green;
}
</style>
</head>
<body onload="startGame()">
<h1 <h1 style="background-color:tomato; border:2px solid darkred;">Battle</h1>
<script src="../virtualjoystick.js"></script>
<script>

var player;
var obstacle;
var time;
var soundfx;
var Music;
var spin;

function startGame() {
	player = new component(30, 30, "red", 50, 150);
	player2 = new component(30, 30, "blue", 400, 150);
	obstacle = new component(10, 500, "yellow", 0, 0);
	obstacle2 = new component(10, 500, "yellow", 490, 0);
	obstacle3 = new component(500, 1, "yellow", 0, 299);
	obstacle4 = new component(500, 1, "yellow", 0, 0);
	spin = new spin(10, 100, "yellow", 250, 40);
	time = new component("30px", "Consolas", "black", 300, 40, "text");
	myGameArea.start();
	updateGameArea();
}

var myGameArea = {
	canvas : document.createElement("canvas"),
	start : function() {
		this.canvas.width = 500;
		this.canvas.height = 300;
		this.context = this.canvas.getContext("2d");
		document.body.insertBefore(this.canvas, document.body.childNodes[0]);
		this.frameNo = 0;
		this.interval = setInterval(updateGameArea, 20);
	},
	clear : function() {
		this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
	},
	stop : function() {
		clearInterval(this.interval);
	}
}


function component(width, height, color, x, y, type) {
	this.type = type;
	if (type == "image") {
	  this.image = new Image();
	  this.image.src = color;
	}
	this.width = width;
	this.height = height;
	this.speedX = 0;
	this.speedY = 0;
	this.x = x;
	this.y = y;	
	this.update = function() {
		ctx = myGameArea.context;
		if (type == "image") {
		  ctx.drawImage(this.image,
			this.x,
			this.y,
			this.width, this.height);
		}
		if (this.type == "text") {
		  ctx.font =this.width + " " + this.height;
		  ctx.fillStyle = color;
		  ctx.fillText(this.text, this.x, this.y);
		} else {
		ctx.fillStyle = color;
		ctx.fillRect(this.x, this.y, this.width, this.height);
		}
	}
	this.newPos = function() {
		this.x += this.speedX;
		this.y += this.speedY;		
	}
	this.crashWith = function(otherobj) {
		var myleft = this.x;
		var myright = this.x + (this.width);
		var mytop = this.y;
		var mybottom = this.y + (this.height);
		var otherleft = otherobj.x;
		var otherright = otherobj.x + (otherobj.width);
		var othertop = otherobj.y;
		var otherbottom = otherobj.y + (otherobj.height);
		var crash = true;
		if ((mybottom < othertop) ||
			   (mytop > otherbottom) ||
			   (myright < otherleft) ||
			   (myleft > otherright)) {
			crash = false;
	   }
	   return crash;
	}
	
}

function spin(width, height, color, x, y, type) {
	this.type = type;
	if (type == "image") {
	  this.image = new Image();
	  this.image.src = color;
	}
	this.width = width;
	this.height = height;
	this.speedX = 0;
	this.speedY = 0;
	this.angle = 360;
	this.moveAngle = 0;
	this.speed = 1;
	this.x = x;
	this.y = y;	
	this.update = function() {
		ctx = myGameArea.context;
		if (type == "image") {
		  ctx.drawImage(this.image,
			this.x,
			this.y,
			this.width, this.height);
		}
		if (this.type == "text") {
		  ctx.font =this.width + " " + this.height;
		  ctx.fillStyle = color;
		  ctx.fillText(this.text, this.x, this.y);
		} else {
		ctx.fillStyle = color;
		ctx.fillRect(this.x, this.y, this.width, this.height);
		}
	}
	this.newPos = function() {
		this.x += this.speedX;
		this.y += this.speedY;		
	}
	this.newPos = function() {
		this.angle += this.moveAngle * Math.PI / 360;
		this.x += this.speed * Math.sin(this.angle);
		this.y -= this.speed * Math.cos(this.angle);
	}
	this.crashWith = function(otherobj) {
		var myleft = this.x;
		var myright = this.x + (this.width);
		var mytop = this.y;
		var mybottom = this.y + (this.height);
		var otherleft = otherobj.x;
		var otherright = otherobj.x + (otherobj.width);
		var othertop = otherobj.y;
		var otherbottom = otherobj.y + (otherobj.height);
		var crash = true;
		if ((mybottom < othertop) ||
			   (mytop > otherbottom) ||
			   (myright < otherleft) ||
			   (myleft > otherright)) {
			crash = false;
	   }
	   return crash;
	}	
}

function updateGameArea() {
	if (player.crashWith(obstacle)) {
		myGameArea.stop();
		}
	if (player.crashWith(obstacle2)) {
		myGameArea.stop();
		}
	if (player.crashWith(obstacle3)) {
		myGameArea.stop();
		}
	if (player.crashWith(obstacle4)) {
		myGameArea.stop();
		}
	if (player.crashWith(spin)) {
		myGameArea.stop();
		} else {
	myGameArea.clear();
	myGameArea.frameNo += 1;
	obstacle.update();
	obstacle2.update();
	obstacle3.update();
	obstacle4.update();
	spin.update();
	spin.newPos();
	spin.angle += 1 * Math.PI / 180; 
	time.text="TIME: " + myGameArea.frameNo;
	time.update();
	player.newPos();	
	player.update();
	player2.newPos();
	player2.update();
	}
	if (player2.crashWith(obstacle)) {
		myGameArea.stop();
		}
	if (player2.crashWith(obstacle2)) {
		myGameArea.stop();
		}
	if (player2.crashWith(obstacle3)) {
		myGameArea.stop();
		}
	if (player2.crashWith(obstacle4)) {
		myGameArea.stop();
		}
	if (player2.crashWith(spin)) {
		myGameArea.stop();
		}	
	
	if (player.crashWith(player2)) {
		myGameArea.stop();
	}
}

function sound(src) {
	this.sound = document.createElement("audio");
	this.sound.src = src;
	this.sound.setAttribute("preload", "auto");
	this.sound.setAttribute("controls", "none");
	this.sound.style.display = "none";
	document.body.appendChild(this.sound);
	this.play = function(){
		this.sound.play();
	}
	this.stop = function(){
		this.sound.pause();
	}
}
	


function moveup() {
	player.speedY = -2; 
}

function movedown() {
	player.speedY = 2; 
}

function moveleft() {
	player.speedX = -2; 
}

function moveright() {
	player.speedX = 2; 
}

function clearmove() {
	player.speedX = 0; 
	player.speedY = 0; 
}

function moveup2() {
	player2.speedY = -2; 
}

function movedown2() {
	player2.speedY = 2; 
}

function moveleft2() {
	player2.speedX = -2; 
}

function moveright2() {
	player2.speedX = 2; 
}

function clearmove2() {
	player2.speedX = 0; 
	player2.speedY = 0; 
}

</script>
	
	   <script type="text/html" id="joystick-view">
    <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
        </canvas>
    </script>

    <div id="joystickContent">
    </div>
	
	<script type="text/javascript">
        $(document).ready(function(){
            var joystickView = new JoystickView(150, function(callbackView){
                $("#joystickContent").append(callbackView.render().el);
                setTimeout(function(){
                    callbackView.renderSprite();
                }, 0);
            });
            joystickView.bind("moveup", function(-y){
                $("#yVal").html(-y);
            });
            joystickView.bind("moveleft", function(-x){
                $("#xVal").html(-x);
            });
        });
    </script>
	
<div style="text-align:left;width:450px;">
  player1<br>
  <button onmousedown="moveup()" onmouseup="clearmove()" ontouchstart="moveup()">UP</button><br><br>
  <button onmousedown="moveleft()" onmouseup="clearmove()" ontouchstart="moveleft()">LEFT</button>
  <button onmousedown="moveright()" onmouseup="clearmove()" ontouchstart="moveright()">RIGHT</button><br><br>
  <button onmousedown="movedown()" onmouseup="clearmove()" ontouchstart="movedown()">DOWN</button>
</div>

<div style="text-align:center;width:450px;">
<input type="button" value="Reset" onClick="document.location.reload(true)">
</div>

<div style="text-align:right;width:450px;">
  player2<br>
  <button onmousedown="moveup2()" onmouseup="clearmove2()" ontouchstart="moveup2()">UP</button><br><br>
  <button onmousedown="moveleft2()" onmouseup="clearmove2()" ontouchstart="moveleft2()">LEFT</button>
  <button onmousedown="moveright2()" onmouseup="clearmove2()" ontouchstart="moveright2()">RIGHT</button><br><br>
  <button onmousedown="movedown2()" onmouseup="clearmove2()" ontouchstart="movedown2()">DOWN</button>
</div>

<p style="background-color:orange; border:1px solid darkred;">A lot of this code comes from w3schools!
Go check it out!</p>

</body>
</html>
