@!pengoTemplate=connect!@
<div id="title" class='modal-form-header'/>
<div class='modal-form-body'>
    <div class='modal-form-field horizontal'>
        <span id='text1'/><span id='text2'/>
    </div>
    <div class='modal-form-buttons'>
        <input id='button' type='button' class='modal-form-button type1'/>
    </div>
</div>
@!pengoTemplate!@

@!pengoTemplate=mainbarNet!@
    <div class="ConnStatus ConnStatus-conn"></div>
@!pengoTemplate!@
